html
  head
    link(href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css', rel='stylesheet')
    link(rel="shortcut icon" href="")
    link(rel="stylesheet" type="text/css" href="../css/mystyle.css")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
    script(src="../js/script.js")
    title= title
  body
    .navbar.navbar-inverse.navbar-fixed-top
      .container-fluid
      .navbar-header
        button.navbar-toggle(type="button", data-toggle="collapse", data-target=".navbar-collapse")
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href="/weather") Weather App
      .collapse.navbar-collapse
        form.navbar-form.navbar-right.right
          .form-group
            input(placeholder="City, ST")
            button Search
    .container-fluid
      .row.pad
      .row.current-container
        .col-4
        .col-4.current-weather
          .current-details
            .main-name
              h1.title= weather.name
            .main-weather
              .main-icon
                h4.main-description= weather.weather[0].description
              .main-current-temp
                h1.current-temp-text #{weather.main.temp} #[span &degF]
            .main-hi-temp
              h4 Hi
              h2 #{weather.main.temp_max} #[span &degF]
            .main-low-temp
              h4 Low
              h2 #{weather.main.temp_min} #[span &degF]
          .current-extra
            .extra-container
              - var titles = ['Wind', 'Pressure', 'Humidity', 'Sunrise', 'Sunset']
              - var data = [weather.wind.speed + ' MPH', weather.main.pressure, weather.main.humidity + ' %', weather.sys.sunrise, weather.sys.sunset]
              - for (i in titles) {
                .extra-detail
                  .extra-info-title
                    h4= titles[i]
                  .extra-detail-info
                    h3.extra-info-text= data[i]
              - }
        .col-4
      .row.days-container
        - for (var day in forecast.list){
          a(href="/weather")
            .item-container
              .day-title
                h4= forecast.list[day].dt
              .day-details
                .icon-container
                  .icon-img
                  .description
                    h4= forecast.list[day].weather[0].description
                .forecast-day-detail
                  .hi-temp
                    h4 Hi
                    h3 #{forecast.list[day].temp.max} #[span &degF]
                  .low-temp
                    h4 Low
                    h3 #{forecast.list[day].temp.min} #[span &degF]
        - }
